* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  background: #131313;
  color: #fff;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(178, 178, 178);
}
/* scrollbar */

/* navbar */

.navbar {
  top: 0;
  height: 60px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #1b1b1b;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.content {
  max-width: 90%;
  margin: auto;
  padding: 0 20px;
}
.navbar .content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  width: 55%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list li {
  width: 100%;
  padding: 10px 20px 10px 20px;
  list-style: none;
  text-align: center;
}
.menu-list a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li:hover,
a > .menu-list li:hover {
  background-color: #fff;
  color: #000;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
/* navbar */
section {
  margin-top: 67px;
  width: 100%;
  height: calc(100% - 62px);
}
.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drop-zone {
  width: 500px;
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}
.container-news {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news-frame {
  background-color: #000;
  border: 8px double white;
  padding: 20px;
  position: relative;
  width: 90%;
  height: 700px;
}
.cov-head {
  padding: 15px;
  text-align: center;
}
.cov-form {
  padding: 10px;
}
.cov-dd,
.cov-mm,
.cov-yy {
  background-color: white;
  padding: 10px;
  font-size: 1em;
}
.cov-results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #131313;
}
.cov-results p {
  font-size: 24px;
}
.container-graph {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container-graph iframe {
  border: 5px double white;
  box-shadow: 2px 2px 5px gray;
  height: 700px;
  width: 80%;
}
#cloud {
  display: block;
}
.image {
  width: 60%;
  height: 450px;
  display: none;
  border: 4px double #fff;
  box-shadow: 2px 2px 10px gray;
  align-self: center;
  border-radius: 10px;
}
.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.submit,
#submit {
  margin-top: 30px;
  padding: 5px 8px 5px 8px;
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 0.97em;
  font-weight: 700;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
}
.submit:hover,
#submit:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 10px 10px 10px rgb(1, 1, 1);
}
.file_up {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
}
.text {
  width: 100%;
  padding: 18px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text p {
  line-height: 1.5;
  width: 80%;
  font-size: 20px;
}
.text .list {
  width: 78%;
}
.container-proj {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.refresh {
  padding: 7px 9px;
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  display: none;
}
.refresh:hover{
  background-color: #000;
  color: #fff;
}
.container-proj h1 {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 1.7em;
}
.inside-container {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
}
.inside-container a {
  color: white;
  text-decoration: none;
}
.item {
  margin: auto;
  background-color: #121212;
  width: 100%;
  height: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgb(203, 203, 203);
  border-radius: 5px;
}
.item img {
  background: #000;
  width: 100%;
  height: 200px;
  margin: 20px auto;
  border: 4px double white;
  box-shadow: 1px 1px 5px #000;
}
.item h1 {
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}
.item .text-proj {
  background-color: #1f1f1f;
  padding: 10px;
  height: calc(100% - 350px);
  width: 100%;
  overflow-y: scroll;
  font-size: 18px;
  text-align: justify;
}
.item .text-proj::-webkit-scrollbar {
  width: 5px;
}
.item .text-proj::-webkit-scrollbar-track {
  background-color: #000;
}
.item .text-proj::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
@media (max-width: 1292px) {
  .content {
    padding: 0 60px;
  }
  .navbar .menu-list {
    width: 80%;
  }
  .navbar .menu-list li a {
    font-size: 18px;
  }
}
@media (max-width: 1170px) {
  .content {
    padding: 0 40px;
  }
  .navbar .logo a {
    font-size: 24px;
  }
  .navbar .menu-list {
    width: 80%;
  }
  .navbar .menu-list li a {
    font-size: 16px;
  }
  .item img {
    height: 180px;
  }
  .inside-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
  .image {
    height: 300px;
  }
  .text p {
    padding: 20px;
    width: 100%;
  }
  .text .list {
    margin-left: 24px;
    width: 100%;
  }
  .cov-results p {
    font-size: 20px;
  }
  .container-graph {
    display: none;
  }
  .item {
    height: 700px;
  }
  .item .text-proj {
    height: calc(100% - 300px);
  }
}
@media (max-width: 868px) {
  .navbar {
    display: flex;
  }
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
  .item {
    width: 95%;
  }
  .item img {
    height: 190px;
  }
  .inside-container {
    grid-template-columns: auto;
    padding: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}
